.p-15vh {padding-top: 7.5vh; padding-bottom: 7.5vh;}
.h-screen-90 {height: 60vh;}
.border-bg {background: #ecfffb }
.chat-bg {background:  #2d767f}
.received-message-bg {background: #fafafa}
.sent-message-bg {background: #dcfaf4}
.w-80 {width: 80%;}
.signout-btn {top:10px; right: 10px;}